<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="thymeleaf/cmm/layout_login">

<th:block layout:fragment="f-title">회원가입</th:block>

<section layout:fragment="f-content">
	<div class="login_wrapper" style="margin: calc(50vh - 320px) auto 0px;">
		<h1><img th:src="@{/static/img/title.png}" width="200" height="auto" alt="demo" id="btn_loginHome"></h1>
		<form method="post" th:action="@{/join}">
			<div>
				<input type="text" name="id" class="form-control" placeholder="ID" autocomplete="off" required/>
			</div>
			<div>
				<input type="text" name="email" class="form-control" placeholder="이메일" autocomplete="off" required/>
			</div>
			<div>
				<input type="password" name="password" id="pw1" class="form-control" placeholder="비밀번호" autocomplete="off" required/>
			</div>
			<div>
				<input type="password" name="repassword" id="pw2" class="form-control" placeholder="비밀번호 확인" autocomplete="off" required/>
			</div>
			<div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div> 
			<div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>		
			<div>
				<input type="text" name="name" class="form-control" placeholder="이름" autocomplete="off" required/>
			</div>
			<div>
				<button type="submit" id="submit" class="btn btn-danger btn-large form-control">회원가입</button>
			</div>
			<div>
				<button type="button" class="btn btn-dark btn-large form-control" id="btn_loginForm">뒤로가기</button>
			</div>
			
		</form>
		<hr class="separator"/>
		<div>
			<h1>HeaTokpia</h1>
			<p>©2021 All Rights Reserved.</p>
		</div>
	</div>
</section>

<th:block layout:fragment="f-script">
<script>
$(function() {
	
	$("#alert-success").hide(); 
	$("#alert-danger").hide(); 
	$("input").keyup(function(){ 
		var pw1=$("#pw1").val(); 
		var pw2=$("#pw2").val(); 
		if(pw1 != "" || pw2 != ""){ 
			if(pw1 == pw2){ 
				$("#alert-success").show(); 
				$("#alert-danger").hide(); 
				$("#submit").removeAttr("disabled"); 
			}else{ 
				$("#alert-success").hide(); 
				$("#alert-danger").show(); 
				$("#submit").attr("disabled", true); 
				} 
			} 
		});
		
	$("form").on("submit", function(e) {
		e.preventDefault();
		var $form = $(this).closest("form");
		var formData = $form.serializeObject();
		
		$("section div:eq(0)").append('<div id="d-spin" class="spinner-border">');
		$.ajax({
			type : $form.attr("method"),
			dataType : 'json',
			contentType : "application/json",
			data : JSON.stringify(formData),
			url : $form.attr("action"),
			success : function(res) {
				$("#d-spin").remove();
				if (res.duplicate) {
					$.notify("중복된 이메일 입니다.");
					$("input[name='email']").val("");
					$("input[name='email']").focus();
				} else if (res.success) {
					$.notify("회원 가입 완료되었습니다.");
					setTimeout(function() {window.location = document.referrer}, 800);						
				} else {
					$("#d-spin").hide();
					$.notify("crud fail");
				}
			},
			error : function(error) {
				alert(error.errorMsg);
			}
		});
		
	});	
	
	$("#btn_loginForm").on("click", function() {
		location.href = document.referrer;
	});
	
});
</script>
</th:block>