<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heatokpia.mapper.BoardMapper">

	<select id="findById" parameterType="int" resultType="Board">
	 <![CDATA[
	 		SELECT seq, title, name, createdate, id, content, hit
	 		FROM board
	 		WHERE seq = #{seq}
		]]>
	</select>
	
	<insert id="save" parameterType="com.heatokpia.dto.BoardNonMemberDTO">
		<![CDATA[
			INSERT INTO board
			VALUES (
				seq_board.NEXTVAL,
				#{content},
				SYSDATE,
				NULL,
				NULL,
				#{name},
				#{ip},
				#{password},
				#{category},
				NULL,
				NULL,
				NULL,
				#{title}
			)
		]]>
	</insert>
	
	<select id="findAllByCategory" parameterType="HashMap" resultType="Board">
		<![CDATA[
			SELECT *
			FROM (SELECT seq, title, name, hit, createdate, ceil(rownum / 10) as page
					FROM board
					WHERE category=#{categorynum}
					ORDER BY seq DESC)
			WHERE page = #{page}
		]]>
	</select>
	
	<select id="findPasswordById" parameterType="int" resultType="String">
		<![CDATA[
			SELECT password
			FROM board
			WHERE seq = #{seq}
		]]>
	</select>
	
	<update id="update" parameterType="Board">
	<![CDATA[
		UPDATE board
		
		SET 
		title=#{title},
		content=#{content},
		ip=#{ip},
		name=#{name},
		password=#{password},
		updatedate=SYSDATE
		
		WHERE seq=#{seq}
	]]>
	</update>
	
	<delete id="deleteById" parameterType="int">
	<![CDATA[
		DELETE 
		FROM board
		WHERE seq=#{seq}
	]]>
	</delete>
	
	<select id="findMaxPage" parameterType="int" resultType="int">
	<![CDATA[
		SELECT ceil(count(1) / 10)
		FROM board
		WHERE category = #{categorynum}
	]]>
	</select>
	
	<select id="findSearchByCategoryAndSearch" parameterType="HashMap" resultType="Board">
	<![CDATA[
		SELECT *
			FROM (SELECT seq, title, name, createdate, ceil(rownum / 10) as page
					FROM board
					WHERE category=#{categorynum}
						AND ${searchArea} like '%'||#{search}||'%'
					ORDER BY seq DESC)
			WHERE page = #{page}
	]]>
	</select>
	
	<select id="findSearchMaxPage" parameterType="HashMap" resultType="int">
	<![CDATA[
		SELECT ceil(count(1) / 10)
		FROM (SELECT ${searchArea}
				FROM board
				WHERE category=#{categorynum}
				 AND ${searchArea} LIKE '%'||#{search}||'%' )
	]]>
	</select>
	
	<update id="updateHit" parameterType="_int">
	<![CDATA[
		UPDATE board
		SET hit = NVL(hit,0) + 1
		WHERE seq = #{seq}
	]]>
	</update>
	
</mapper>