<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heatokpia.mapper.MemberMapper">
	<select id="readMemberById" parameterType="String" resultType="Member">
		SELECT * FROM member WHERE member_id = #{member_id}
	</select>
	
	<insert id="insertTestAdminMember">
		INSERT INTO member(member_id, password, name, role)
		VALUES('amdin','1234', '관리자', 'ROLE_ADMIN')
	</insert>
</mapper>