@charset "EUC-KR";

#boardinfo{
	position: relative;
}

#boardinfo label{
	font-size: 1.5em;
}

#boardinfo button,input[type="button"]{
	position: absolute;
	right: 0;
	margin: 0 1em;
}

.board.wrap{
	border-top: solid 2px #2C3E50;
	border-bottom: solid 2px #aaa;
	margin: 1em 0;
}

.board{
	position: relative;
	width: 100%;
}

.board.head{
	border-bottom: solid 1px #ddd;
	padding: 1em 0;
	font-size: 1.1em;
}

.board.item{
	border-bottom: solid 2px #2C3E50;
	padding: 1em 0;
}

.board.item div{
	margin: 1em 0;
}

.board.item:last-child{
	margin: 0;
}

.board.item:hover{
	background: #ecf1f9;
	cursor:pointer;
}


.board span{
	display:inline-block;
	width: 45%;
	text-align: center;
}

.board span:first-child{
	text-align: left;
	width: 3%;
}

#boardfooter{
	padding: 0;
	margin: 1em 0;
}

#boardfooter .search{
	display: inline-block;
	width: 40%;
}

#boardfooter .pagingnation{
	display: inline-block;
	width: 55%;
}

.page{
	text-align:center;
	width: 1.3em;
	display: inline-block;
}

.page a{
	text-decoration: none;
	width: 1em;
	color: #000;
	font-weight: 600;
}

.page.on, .page:hover{
	background: #ddd;
	border-radius: 5em;
}

.page.on a{
	pointer-events: none;
	cursor: default;
}
.prenav, .postnav{
	width: 5em;
	display: inline-block;
}

.prenav a, .postnav a{
	text-decoration: none;
	font-weight: 600;
	color: #aaa;
}

.prenav a:hover, .postnav a:hover{
	color: #2C3E50;
}
