@charset "EUC-KR";

#inner{
	width: 50em;
	margin: 0 auto;
	padding: 1em;
}

button,input[type=button],input[type="submit"]{
	background: #aaa;
	font-size: 1em;
	padding: 0.5em 1em;
	border:0;
	border-radius: 0.3em;
	outline: 0;
}

button.primary,input[type=button].primary,input[type="submit"].primary{
	background: #2C3E50;
	font-size: 1em;
	padding: 0.5em 1em;
	border: 0;
	outline: 0;
	color: #fff;
}

button,input[type=button],input[type="submit"]:hover{
	cursor: pointer;
}

button.primary,input[type=button].primary,input[type="submit"].primary:hover{
	cursor: pointer;
}